/*------------------------------
 * TITLE BAR
 *------------------------------*/

/* Title */
.center.full {
    line-height: 160%;
}


/*------------------------------
 * MODAL POPUP
 *------------------------------*/

.modalOverlay{
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0px;
    left: 0px;

    margin: 0px;
    padding: 0px;
    
    background: #000;
    
    opacity: 0;
    -webkit-transition: opacity 0.3s ease-in;
    
    z-index: 101;
}

.modalWindow{
    width: 200px;
    /*max-height: 250px;*/
    
    position: fixed;
    /*top: 100px;*/
    
    margin: 0px;
    padding: 10px;

    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #EFEFEF), color-stop(2%, #EFEFEF), color-stop(100%, #DCEBDD));
    -webkit-border-radius: 8px;
    -webkit-box-shadow: -1px 2px 12px rgba(0, 0, 0, 0.91);
    border: 2px solid #151515;
    
    text-align: center;
    word-spacing: 2px;
    line-height: 15px;
    font-weight: bold;
    
    color: #2B3A42;
    
    opacity: 0;
    -webkit-transition: opacity 0.2s ease-in;

    z-index: 102;
}

.modalWindowHeader{
    width: 100%;

    padding-top: 3px;                        
    margin-bottom: 0px; 

    display: block; 
    overflow: hidden;
          
    text-align: center;
    line-height: 45px;
    font-weight: bold;  
    font-size: 1.25em;

    color: #fff;

    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #8a8a8a), color-stop(2%, #6a6a6a), color-stop(100%, #151515));
}

.modalWindowContent{       
    padding: 10px; 

    display: block;
    overflow: auto;
    -webkit-overflow-scrolling: touch;

    line-height: 20px; 
    font-weight: bold; 

    color: #000;                                         
}

.modalWindowFooter{

}

.cancelButton{
    padding: 10px;

    text-align: center;
    font-weight: bold;  
    font-size: 0.75em;   

    color: #fff;        

    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #F2594B), color-stop(2%, #F2594B), color-stop(100%, #BF0426));
    -webkit-box-shadow: 1px 1px 6px #666666;
    border: 1px solid #aa0000;
    border-top-color: #bf0000; 
    -webkit-border-radius: 4px; 
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.okButton{
    padding: 10px;

    text-align: center;
    font-weight: bold;  
    font-size: 1.15em;   

    color: #fff;        

    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #F2594B), color-stop(2%, #F2594B), color-stop(100%, #BF0426));
    -webkit-box-shadow: 1px 1px 6px #666666;
    border: 1px solid #aa0000;
    border-top-color: #bf0000; 
    -webkit-border-radius: 4px; 
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}


/*------------------------------
 * HOME PAGE
 *------------------------------*/

/* Introduction Text */
#introText {
    vertical-align: middle;
}

/* Scrollable List Content */
.scrollable-cl {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    position: absolute;
    top: 170px;
    bottom: 60px;
    left: 0px;
    right: 0px;
}
.scrollable-cl a {
    text-decoration: none;
    color: inherit;
}

/* CheckList Name */
.cl-name {
    text-decoration: none;
    font-size: 1.5em;
}

/* Last Modified Date text*/
.last-modified{
    font-size: 0.75em;
}

/* Delete Icon */
.delete-cl{
    float: right;
    display: inline-block;
    height: 42px;
    width: 42px;
    background: url("../img/delete.svg") no-repeat;
}

/* Footer */
.footer{
    position: absolute;
    bottom: 5px;
    right: 0px;
}