/*------------------------------
 * TITLE BAR
 *------------------------------*/

/* Title */
.center.full {
    line-height: 160%;
}


/*------------------------------
 * MODAL POPUP
 *------------------------------*/

.modalOverlay{
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    margin:0;
    padding:0;
    background:#000;
    opacity:0;
    -webkit-transition: opacity 0.3s ease-in;
    z-index:101;
}

.modalWindow{
    position:fixed;
    top:150px;
    margin:0;
    border:2px solid #fff;
    width:180px;
    /*height:30px;*/
    text-align:center;
    word-spacing:2px;
    line-height:15px;
    font-weight:bold;
    font-size:13px;
    color:#fff;
    padding:10px;
    opacity:0;
    z-index:102;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #7c9bc0), color-stop(2%, #416086), color-stop(100%, #293e56));
    -webkit-border-radius:8px;
    -webkit-box-shadow:-1px 2px 12px rgba(0, 0, 0, 0.91);
    -webkit-transition: opacity 0.3s ease-in;
}

/*------------------------------
 * HOME PAGE
 *------------------------------*/

/* Introduction Text */
#introText {
    vertical-align: middle;
}

/* Scrollable List Content */
.scrollable-cl {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    position: absolute;
    top: 170px;
    bottom: 60px;
    left: 0px;
    right: 0px;
}
.scrollable-cl a {
    text-decoration: none;
    color: inherit;
}

/* CheckList Name */
.cl-name {
    text-decoration: none;
    font-size: 1.5em;
}

/* Last Modified Date text*/
.last-modified{
    font-size: 0.75em;
}

/* Delete Icon */
.delete-cl{
    float: right;
    display: inline-block;
    height: 42px;
    width: 42px;
    background: url("../img/delete.svg") no-repeat;
}

/* Footer */
.footer{
    position: absolute;
    bottom: 5px;
    right: 0px;
}