/*------------------------------
 * HOME PAGE
 *------------------------------*/

/* Scrollable List Content */
.scrollable {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    position: absolute;
    top: 160px;
    bottom: 60px;
    left: 0px;
    right: 0px;
}

/* Footer */
.footer{
    position: absolute;
    bottom: 5px;
    right: 0px
}