<div class="categoryNav">
	<span class="back-button"></span>
	<span class="categoryName"><%= items[0].categoryName %></span>
</div>

<div class="addItem">
	<input type="text" id="add-item-input" value="<%print(lang.newItem)%>"><button class="topcoat-button" id="add-item-button"><% print(lang.add) %></button>
</div>

<div class="topcoat-list__container scrollable-item">
	<ul class="topcoat-list list">
	<% _.each(items[0].array, function(item) { %>
	    <li class="topcoat-list__item">
	        <span class="delete-item" id="<%= item.id %>"></span>
        	<label class="topcoat-checkbox">
        		<input type="checkbox" name="check-item_<%= item.id %>" class="check-item" id="<%= item.id %>" <% if(item.checked == 1) { %> checked <% } %>>
        		<div class="topcoat-checkbox__checkmark"></div>
        		<span class="item-name"><%= item.name %></span>
        	</label>
    		<% if(item.checkedDate != 0 && item.checked == 1) { %>
    			<br/>
    			<span class="last-checked"><% print(lang.checkedOn) %>: <%= item.checkedDate %></span>
    		<% } %>
	    </li>
	<% }); %>
	</ul>
</div>