<div class="categoryNav">
	<span class="categoryName"><%= items[0].categoryName %></span>
</div>

<div class="addItem">
	<input type="text" id="add-item-input" value="<%print(lang.newItem)%>"><button class="button" id="add-item-button"><% print(lang.add) %></button>
</div>

<div class="list-container scrollable-item">
	<ul class="list">
	<% _.each(items[0].array, function(item) { %>
	    <li class="list-item">
	        <span class="delete-item" id="<%= item.id %>"></span>
        	<label class="topcoat-checkbox">
        		<input type="checkbox" name="check-item_<%= item.id %>" class="check-item" id="<%= item.id %>" <% if(item.checked == 1) { %> checked <% } %>>
        		<div class="topcoat-checkbox__checkmark"></div>
        		<p class="item-name <%if(item.checked == 1){%>checked<%}%>"><%= item.name %></p>
        	</label>
    		<% if(item.checkedDate != 0 && item.checked == 1) { %>
    			<p class="last-checked"><% print(lang.checkedOn) %>: <%= item.checkedDate %></p>
    		<% } %>
	    </li>
	<% }); %>
	</ul>
</div>